{
  "extends": "airbnb-base",
  "rules": {
    "block-spacing": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "func-names": 0,
    "arrow-body-style": 0,
    "no-cond-assign": [2, "except-parens"],
    "no-param-reassign": [0],
    "no-use-before-define": [2, "nofunc"],
    "object-curly-spacing": ["error", "never"],
    "one-var": [2, { "uninitialized": "always", "initialized": "never" }],
    "space-before-function-paren": [2, "never"],
    "vars-on-top": 0
  },
  "env": {
    "jest": true,
    "node": true
  }
}
