.Test {
  padding: 1px;
  margin-left: 20px;
  margin-right: @margin-left;
  background: url('img.png') no-repeat @padding @margin-right;
  border: @padding @margin-left @margin-left;
}

.Test2 {
  margin-left: 400px;
  margin-right: @margin-left;
  border: @padding;
}

@media (min-width: 300px) {
  .Test {
    margin-left: 1000px;
    margin-right: @margin-left;
  }
}
